#greeting{
  position: absolute;
  left: 100px;
  top: 100px;
  color: #0000FF;
  font-size: 50px;
  margin: 0px;
  padding: 10px;
  border: 2px solid black;

  transition-property: font-size;
  transition-duration: 1s;
}

#greeting:hover{
  font-size: 100px;
}