#greeting{
  position: absolute;
  left: 100px;
  top: 100px;
  color: #0000FF;
  font-size: 50px;
  margin: 0px;
  padding: 10px;
  border: 2px solid black;

  transition-property: font-size;
  transition-duration: 1s;
  transition-timing-function:ease;
  transition-delay:250ms;

  transition: font-size 1s, color 2s, left 1s;
}

#greeting.myTransition{
  font-size: 100px;
  color: #FF0000;
  left: 220px;
}

/* BIRD ANIMATION */

#box{
  position: relative;
  top: 40px;
  width: 500px;
  height: 400px;
  background-color: #afd3ef;
  border: 3px solid #032e4f;
  margin: 0px auto;
  text-align: center;
}

#bird{
  position: absolute;
  left: 80px;
  top: 90px;
  width: 100px;
  transform: scale(.5);

  transition: all 1s;
}

#box:hover #bird{
  transform: scale(2.6);
}


